<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <ng-container *ngIf="loginModel === 'username'">
    <div class="form-group">
      <label for="username">手机号<code>*</code></label>
      <input type="number" class="form-control" id="username" placeholder="请输入手机号" formControlName="username"/>
    </div>
    <div class="form-group">
      <label for="password">密码<code>*</code></label>
      <input type="password" class="form-control" id="password" placeholder="请输入密码" formControlName="password"/>
    </div>
    <ng-template [ngIf]="errorInfo">
      <hr>
      <small class="text-danger">{{ errorInfo }}</small>
    </ng-template>
    <hr>
    <button [appYzSubmitButton]="{submitting: submitting}" type="submit" [disabled]="loginForm.invalid"
            class="btn form-control btn-success">登录
    </button>
    <button type="button" class="btn btn-block btn-primary" (click)="onWeChatLogin()">微信登录</button>
  </ng-container>
  <ng-container *ngIf="loginModel === 'wechat'">
    <img class="img-fluid" [src]="qrCodeSrc">
    <button type="button" class="btn btn-block btn-primary" (click)="loginModel = 'username'">密码登录</button>
  </ng-container>
</form>
